{% extends 'base.html'%}

{% block title %}
        Scores
{% endblock %}

{% block main %}
        <h1>List of Scores :</h1>
        <h4><a href="{% url 'scores:add' %}">Add a score</a></h4>
        <hr>
        {% if scores %}
        {% for score in scores %}
        <p><a href="{% url 'scores:detail' score.id %}"><strong>{{ score.student }}</strong> - Score : {{ score.score }}</a></p>
        {% endfor %}
        {% else %}
        <h2>No Scores available!!!</h2>
        {% endif %}
{% endblock %}